<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include ('partials/head.html')%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/0.1.1/scrollReveal.min.js" integrity="sha512-FDQlM/I5n8d3aaXq+RCosJqohfgGdhzGeOR2SFdiN0nSfEp6MD+L1WvRGduPVu3DPO1yjDav7ICmoa3wJyVlxg==" crossorigin="anonymous"></script>

    <title>Admin</title>
<style>     
html{  overflow-x: auto !important;

}


h6.error{ color: red;}

</style>
<script>function subcat(idcat){

  $.ajax({
      url:'/subcat/'+$('#categoria1'+idcat).val(),
      success : function(subcategorias){
          
          tpl='<option val="0">Seleccione</option>'
          
          for (var i = 0; i < subcategorias.data.length; i++) {
              tpl+='<option value="'+subcategorias.data[i].id+'">'+subcategorias.data[i].subcategoria+'</option>';
              console.log(subcategorias.data[i].id)
          }
          $('#subcat1'+idcat).html(tpl);
      }
      

  })

}</script>
  </head>
<body>
    <%- include ('partials/nav.html')%>

 
    <div class="row"> 
      <div class="col-md-4">
      <button type="btn btn-waning" class="mt-3 mb-3 ml-3 btn btn-outline-warning" data-toggle="modal" data-target="#modal-nuevoProd">
    <i class="fas fa-plus"></i>  </button>
  </div>
  <div class="text-center col-md-4 mt-3">
    
    <h4> Bienvenido, <%=data2[0].user%>!</h4>
  </div>
  <div class="text-right col-md-4 mt-3">
    <button class="btn btn-warning" data-toggle="modal" data-target="#cambiarClave">Cambiar contraseña</button>
  </div>
  </div>


  <div class="modal fade" id="cambiarClave" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nueva contraseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="claveform">
          <input type="hidden" name="usuario"  value="<%=data2[0].user%>">

        
          <input type="hidden" id="id_user" value="<%=data2[0].id_login%>">
          <input type="hidden" id="user_clave" value="<%=data2[0].password%>">

        <div class="modal-body">
                     <div class="form-group">
            <label for="formGroupExampleInput">Contraseña antigua</label>
            <input type="text" name="claveAntigua" class="form-control" id="claveAntigua" >
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Nueva contraseña</label>
            <input type="text" name="claveNueva" class="form-control" id="claveNueva" >
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Nueva contraseña (Otra vez)</label>
            <input type="text" name="claveNueva2" class="form-control" id="claveNueva2" >
          </div>
 

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" id="guardarClave" class="btn btn-primary">Guardar</button>
        </div>
      </form>

      </div>
    </div>
  </div>



  <div class="modal fade" id="modal-nuevoProd" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-title">Registrar nuevo producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="productoform" action="/nuevoProd" method="POST" enctype="multipart/form-data" class="form-group">

            <input type="hidden" name="usuario"  value="<%=data2[0].user%>">

            <input type="hidden" name="id_user" value="<%=data2[0].id_login%>">
            <input type="hidden" name="user_clave" value="<%=data2[0].password%>">
  


            <input type="hidden" name="id_prod" value="<%=data.length +1%>">



            <div class="form-group">
              <label for="exampleFormControlFile1">Seleccione imagenes</label>
              <input type="file" class="form-control-file" name="prodImg" id="prodImg" accept="image/*" multiple />
            </div>
            <label >Categoria</label>

           <select id="categoria" class="custom-select" name="categoria" >
             <option value="0">Seleccione</option>
            <% for (var j = 0 ; j < data1.length ; j++ ) {%>
              <option value="<%=data1[j].id_cat%>"> <%=data1[j].categoria%></option>
              <%}%>
           </select>
           <label >Subcategoria</label>

           <select id="subcat" class="custom-select" name="subcategoria" >

          </select>
         
                    
            <label >Producto</label>
            <input type="text" name="nom_producto" class="form-control" >
           
            <label >Caracteristicas</label>
              <textarea type="text" name="caracteristicas" rows="5" class="form-control" ></textarea>
           
              <label >Stock</label>
                <input type="text" name="stock" class="form-control" >
           
                <label >Precio unitario</label>
                  <input type="text" name="precio" class="form-control" >
                  <label >Descuento</label>
            <div class="input-group mb-3">
              <input type="number" name="descuento" class="col-2 form-control" >

              <div class="input-group-append">
                  <span class="input-group-text form-control">%</span>
                </div>
                </div>
                  <div class="input-group mb-3 mt-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <input name="disponible" type="checkbox">
                      </div>
                    </div>
                    <label type="text" class="form-control" aria-label="Text input with checkbox">Disponible</label>
                  </div>
                  <div class="form-check form-check-inline col-md-6">
                    <input class="form-check-input" type="radio" name="recomendado" id="exampleRadios1" value="on" >
                    <label class="form-check-label" for="inlineCheckbox1">                                  recomendado   
                    </label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input " type="radio" name="recomendado" id="exampleRadios2" value="off" checked>
                    <label class="form-check-label" for="inlineCheckbox2">                                                           NO recomendado
                    </label>
                  </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" id="nuevoProd" class="btn btn-primary">Save changes</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  
    <table class="table table-hover ">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Imagen1</th>
            <th scope="col">Imagen2</th>
            <th scope="col">Imagen3</th>
            <th scope="col">Producto</th>
            <th scope="col">Precio</th>
            <th scope="col">descuento</th>
            <th scope="col">Precio final</th>
            <th scope="col">Categoria</th>
            <th scope="col">sub categoria</th>
            <th scope="col">descripcion</th>
            <th scope="col">stock</th>
            <th scope="col">disponible</th>
            <th scope="col">recomendado</th>
            <th scope="col">Mantenimiento</th>
            
            
        </tr>
        </thead>
        <tbody>
          <%if (data) {%>
            <% for (var i = 0 ; i < data.length ; i++ ) {%>
              <div class="modal fade" id="modal-editProd<%=data[i].id_prod%>" disabled tabindex="-1" aria-labelledby="" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-title">Editar producto</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form id="productoform1" action="/editProd/<%=data[i].id_prod%>" method="POST" enctype="multipart/form-data" class="form-group">
                        <input type="hidden" name="usuario"  value="<%=data2[0].user%>">

                        <input type="hidden" name="id_user" value="<%=data2[0].id_login%>">
                        <input type="hidden" name="user_clave" value="<%=data2[0].password%>">
              
                        <label >Id producto</label>
                        <input type="text" disabled name="id_prod" value="<%=data[i].id_prod%>" class="disabled form-control" >
                      
            <div class="form-group">
              <label for="exampleFormControlFile1">Seleccione imagenes</label>
              <input type="file"  class="form-control-file" name="prodImg" value="" accept="image/*" multiple />
            </div>

                        <input type="hidden" name="previmg" value="<%=data[i].prodImg%>">
                        <input type="hidden" name="previmg2" value="<%=data[i].prodImg2%>">
                        <input type="hidden" name="previmg3" value="<%=data[i].prodImg3%>">
                        
                        
                       <label >Categoria</label>
                        
                        <select id="categoria1<%=data[i].id_prod%>" onchange="subcat('<%=data[i].id_prod%>')" class="custom-select categoria1" name="categoria" >
                          <option value="<%=data[i].id_cat%>"><%=data[i].categoria%></option>
                          <% for (var j = 0 ; j < data1.length ; j++ ) {%>
                            
                            <option value="<%=data1[j].id_cat%>"> <%=data1[j].categoria%></option>
                            <%}%>
                         </select>
                         <label> subcategoria</label>

                         <select  id="subcat1<%=data[i].id_prod%>"  class="custom-select " name="subcategoria" >
                          <option value="<%=data[i].id_subcat%>"><%=data[i].subcategoria%></option>

                        </select>
                        <label >Producto</label>
                        <input type="text" name="nom_producto" value="<%=data[i].nom_producto%>" class="form-control" >
                       
                        <label >Caracteristicas</label>
                          <textarea rows="5" type="text" name="caracteristicas" value="<%=data[i].caracteristicas%>" class="form-control" ><%=data[i].caracteristicas%></textarea>
                       
                          <label >Stock</label>
                            <input type="text" name="stock"  value="<%=data[i].stock%>" class="form-control" >
                       
                            <label >Precio unitario</label>
                              <input type="text" name="precio"  value="<%=data[i].precio%>" class="form-control" >
                              <label >Descuento</label>
                              <div class="input-group mb-3">
                                <input type="number" name="descuento" value="<%=data[i].descuento%>" class="col-2 form-control" >
                  
                                <div class="input-group-append">
                                    <span class="input-group-text form-control">%</span>
                                  </div>
                                  </div>
                              <%if(data[i].disponible=="off"){%>
                                <div class="form-check form-check-inline col-md-6 ">
                                  <input class="form-check-input" type="radio" name="disponible" id="exampleRadios1" value="on" >
                                  <label class="form-check-label" for="inlineCheckbox1">            DISPONIBLE                              
                                  </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input " type="radio" name="disponible" id="exampleRadios2" value="off" checked>
                                  <label class="form-check-label" for="inlineCheckbox2">    NO DISPONIBLE                                                  
                                  </label>
                                </div>
                                
                            <%}else{%>
                             
                              <div class="form-check form-check-inline col-md-6">
                                <input class="form-check-input" type="radio" name="disponible" id="exampleRadios1" value="on" checked>
                                <label class="form-check-label" for="inlineCheckbox1">                                  DISPONIBLE   
                                </label>
                              </div>
                              <div class="form-check form-check-inline ">
                                <input class="form-check-input " type="radio" name="disponible" id="exampleRadios2" value="off" >
                                <label class="form-check-label" for="inlineCheckbox2">                                                           NO DISPONIBLE
                                </label>
                              </div>
                              <%}%>


                              <%if( data[i].recomendado == "off"){%>
                              <div class="form-check form-check-inline col-md-6">
                                <input class="form-check-input" type="radio" name="recomendado" id="exampleRadios1" value="on" >
                                <label class="form-check-label" for="inlineCheckbox1">                                  recomendado   
                                </label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input " type="radio" name="recomendado" id="exampleRadios2" value="off" checked>
                                <label class="form-check-label" for="inlineCheckbox2">                                                           NO recomendado
                                </label>
                              </div>

                              <%}else{console.log('ON') %>
                                <div class="form-check form-check-inline col-md-6">
                                  <input class="form-check-input" type="radio" name="recomendado" id="exampleRadios1" value="on" checked>
                                  <label class="form-check-label" for="inlineCheckbox1">                                  recomendado   
                                  </label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input " type="radio" name="recomendado" id="exampleRadios2" value="off" >
                                  <label class="form-check-label" for="inlineCheckbox2">                                                           NO recomendado
                                  </label>
                                </div>a
                                <%}%>
                            </div>

                              

                              
                  
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="submit" id="editProd" class="btn btn-primary">Save changes</a>
                    </div>
                  </form>
                  </div>
                </div>
              </div>








            <tr>

              <td><%= data[i].id_prod %></th>

              <td width="100" > <img src="/prodImg/<%= data[i].prodImg%>" class="img-fluid" alt="no hay"></th>
                <td width="100" > <img src="/prodImg/<%= data[i].prodImg2%>" class="img-fluid" alt="no hay"></th>
                  <td width="100" > <img src="/prodImg/<%=data[i].prodimg3%>" class="img-fluid" alt="no hay"></th>

              
              <td><%= data[i].nom_producto %></td>
              <td><%= data[i].precio %></td>
              <td><%= data[i].descuento %>%</td>
              <td><%= data[i].precioNeto %></td>
              
              <td><%= data[i].categoria %></td>
              <td><%= data[i].subcategoria %></td>
              <td><button type="button" class="btn btn-warning" data-container="body" data-toggle="popover" data-placement="bottom" data-content="<%=data[i].caracteristicas %>">
                Ver
              </button></td>

              <td><%= data[i].stock %></td>
              <td> 
                <%if (data[i].disponible =='on' ){%>
                  <i class="text-success h3 fas fa-check"></i>
                  <%}else{%>
                    <i class="text-danger h3 fas fa-times-circle"></i>
                    <%}%>
              </td>
              <td>  <%if (data[i].recomendado =='on' ){%>
                <i class="text-success h3 fas fa-check"></i>
                <%}else{%>
                  <i class="text-danger h3 fas fa-times-circle"></i>
                  <%}%></td>
            <td><a  data-toggle="modal" data-target="#modal-editProd<%=data[i].id_prod%>" id="editar" value="<%=data[i].id_prod %>" class="btn btn-warning"><i class="fas fa-edit"> </i></a> 
              <a href="/deleteProd/<%=data[i].id_prod %>/<%=data2[0].user%>/<%=data2[0].password%>" class=" btn btn-warning"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
           <%}%>
            <%}%>
        </tbody>
      </table>
      <script src="/js/jquery-3.2.1.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
      <script src="/js/popper.min.js"></script>
      
      <script src="/js/jquery.validate.min.js"></script>
      <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>

      <script src="/js/admin.js"></script>
      <script>$(function () {
        $('[data-toggle="popover"]').popover()
      })</script>
</body>
</html>