@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chango&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Chango&family=Dancing+Script:wght@600&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300&family=Roboto&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

html, body {
  background-image: url('/img/fondo1.svg'); 
background-position: center center;

}
.medium-font{
    text-align: center;
    font-family: 'Dosis', sans-serif;
        font-size: 36px;
}
.caract::-webkit-scrollbar{
width: 7px;

}
.caract::-webkit-scrollbar-thumb{
  background:#4276FA;
  border-radius: 5px;
}
.card-container{
width: 60%;
}
.card{
border: none !important;
width: 100%;
}
.card-prod{
   
    background-color: #FFD007;
    border-radius: 10px;
    display: flex;

}
.card-container{
    display: flex;
}
.banner-text{
  font-family: 'Dosis', sans-serif;
      font-size: x-large;
    color: white;
    margin-top: 2rem;
}

.carousel-control-prev{
    z-index: 3;
}
.carousel-control-next{
    z-index: 3;
}
.banner-tittle{
  font-family: 'Dosis', sans-serif;
      color: white;

}
.def-text{
    font-family: 'Dosis', sans-serif;
    font-size: 1.5vw;
}
.def-tittle{
  font-family: 'Dosis', sans-serif;
  font-size: 6vw;
}
#carousel-img{
position: relative;



}

#text-img{
position: absolute;
z-index: 2;

}


.navbar{
    background-color: #4276FA;
    font-family: 'Dosis', sans-serif;     font-size: 20px;
    

}
.navbar-brand{

    font-size: 28px;
    font-family: 'Dosis', sans-serif;    text-decoration: underline white;  
}
.shadow{

  box-shadow: 10px 5px 5px black;;

}

.tns-controls{
   display: flex; 
}
.products-list .product-item{

	transition: all .4s;
}
.top-content .carousel-control-prev {
    border-bottom: 0;
    font-size: 40px;
    color: #444;
}
 
.top-content .carousel-control-next {
    border-bottom: 0;
    font-size: 40px;
    color: #444;
}
@media screen and (max-width: 990px) {
    .banner-text {
      font-size: 22px;
    }
    .navbar-brand {
        font-size: 32px;
      }
      
  }
  @media screen and (max-width: 940px) {
    .banner-text {
      font-size: 20px;
    }
    .banner-tittle {
        font-size: 28px;
      }
      
  }
  @media screen and (max-width: 875px) {
    .banner-text {
      font-size: 18px;
    }
    .banner-tittle {
        font-size: 26px;
      }
      
  }
  @media screen and (max-width: 806px) {
    .banner-text {
      font-size: 16px;
    }
    .banner-tittle{
        font-size: 24px;
    }
  }

  @media screen and (max-width: 652px) {
    .banner-text {
      font-size: 13px;
    }
    .banner-tittle  {
        font-size: 20px;
      }
      
  }
  @media screen and (max-width: 560px) {
    .banner-text {
      font-size: 10px;

    }
    .banner-tittle {
        font-size: 17px;
      }
      
  }
  @media screen and (max-width: 500px) {
    .banner-text {
      font-size: 9px;
    }
    .banner-tittle  {
        font-size: 15px;
        
      }
      
  }
  .oferta{
    top: 0.625rem;
    border-color:#4276FA;
   
  }
  .resaltar{
    background-color: #4276FA;
  }
   .oferta::before,.oferta::after{
    content: "";
    position: absolute;
    display: inline-flex;
    height: 0;
    width: 0;
    margin: auto;
    top : 0;
    bottom: 0;
    border: 1rem solid transparent;
    right: -1rem;
   } 
   .oferta::before{
     border-top-color:inherit ;
   }
   .oferta::after{
    border-bottom-color:inherit ;
   }
   



nav ul {
	list-style:none;
	padding:0;
	margin:0;
	overflow:hidden;
}

nav > ul > li {
	float:left;
}



nav > ul > li:hover div {
  
  display:table;
 
}

/*Submenu*/
nav ul li div {
  
	width:50%;
  border-radius: 5px;
	position: absolute;
	left:0;
  background-color: white;
  background-image: url('/img/fondo.svg'); 

  background-position: center center;
	display:none;
  margin-left: 1vw;
  z-index: 100;
  margin-top: 1.26rem;
  padding-left: 20px;
  padding-bottom: 20px;


}
nav ul li div::before {
  width: 100%;
  border: 25px solid transparent;
  content: '';
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -50px;
  transform:rotate(+180deg) ;
  margin-top: 0.8rem;

}

nav ul li div ul{
  font-family: 'Dosis', sans-serif;
	width:20%;
	display:table-cell;
	border-right:1px solid rgba(255,255,255,.5);
	box-sizing:border-box;
}

nav ul li div ul:last-child {

	border:none;
}

nav ul li div ul .titulo {
color: #4276FA;
text-decoration: underline;
font-family: 'Dosis', sans-serif;

}

nav ul li div ul .titulo a {
    font-family: 'Dosis', sans-serif;

	color:black;
	padding:10px 20px;
}


nav ul li div ul .titulo a:hover {
	background:none;
  font-family: 'Dosis', sans-serif;

}

nav ul li div ul li a {
	color:#000;
  font-family: 'Dosis', sans-serif;

}

nav ul li div ul li a:hover {
	color:#4276FA;
  font-family: 'Dosis', sans-serif;

}
.card-hover:hover{
  transform: translateY(-15px);
  
}
.accordion{
  background:white;
  border-radius: 5px;
}
