<br>
<footer class="page-footer bg-dark">
<div class="bg-warning">
    <div class="container">
        <div class="row py-4 d-flex align-items-center">
            <div class="col-md-12 text-center">
                <a href="" ></a><i class="fab fa-facebook-f text-white mr-4 " ></i></a>
              <a href="" ></a><i class="fab fa-linkedin-in text-white mr-4 "></i></a>
                <a href="" ></a><i class="fab fa-twitter text-white mr-4 "></i></i></a>
                <a href="" ></a><i class="fab fa-google-plus-g text-white mr-4 "></i></a>
                <a href="" ></a><i class="fab fa-instagram text-white mr-4 "></i></a>
            </div>
        </div> 
    </div>
</div>
<div class="container text-center text-md-left mt-5">
    <div class="row">
        <div class="col-md-3 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">¿Quienes somos?</h6>
            <hr class="bg-warning mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
            <p class="mt-2" style="word-break: break-all;">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>

        </div>
        <div class="col-md-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">Productos</h6>
            <hr class="bg-warning mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
       
         <ul class="list-unstyled"  >
    
            <li class="my-2"> <a class="text-decoration-none" href="">Tablets</a> </li>
            <li class="my-2"> <a class="text-decoration-none" href="">Celulares</a> </li>
            <li class="my-2"> <a class="text-decoration-none" href="">Televisores</a> </li>
       
        </ul>
        </div>    
        <div class="col-md-3 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">Contactanos</h6>
            <hr class="bg-warning mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; height: 2px">
       
         <ul class="list-unstyled"  >
    
            <li class="my-2"> <i class="fas fa-home"></i> Calle falsa #123</li>
            <li class="my-2"> <i class="far fa-envelope"></i> correo@falso.com </li>
            <li class="my-2"> <i class="fas fa-phone"></i> 986394402 </li>
       
        </ul>
        </div>  
        
    </div>
</div>
</footer>