

   <nav class=" navbar navbar-expand-lg navbar-light shadow scrolling-navbar">
    <ul>
      <li><a href="#" class="navbar-toggler-icon"></a>

      <div style="font-family: 'Dosis', sans-serif;">
        <%for (var i = 0; i < data1.length ; i ++){%>
        <ul>
          <li class="titulo">
            <a href="/categoria/<%=data1[i].id_cat%>"><%=data1[i].categoria%></a></li>

              <%for (var k = 0; k < data2.length ; k++){%>
                <%if(data2[k].id_cat== data1[i].id_cat ){%>
            
                <li><a href="/subcategoria/<%=data2[k].id%>"><%=data2[k].subcategoria%></a></li>
              <%}}%>
        </ul>
        <%}%>
      </div>

      </li>



    </ul>
    <a class="navbar-brand ml-2" href="/"><img src="/img/SaveHome.png" class="img-fluid w-75" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        
        <form  action="/productoFil" method="post" class="form-inline ml-1  ">
  
          <input class="form-control   mr-lg-1" size="60%" name="val" type="text" placeholder="Tablets, laptops ..." aria-label="Search">
          <button class="btn btn-outline-dark my-2 my-sm-0 text-light" type="submit">Buscar </button>
          
        </form>
        <ul class="navbar-nav ml-auto ">
         
          <li class="nav-item active">
            <a class="nav-link" href="/"><i class="fas fa-home text-light"></i> Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/producto"><i class="fas text-light fa-shopping-bag"></i> Productos</a>
          </li>
          
         
      
       
      </div>
    </ul>
      <div class="dropdown" id ="sessionInfo">
        <a class="nav-link text-dark" type="button" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas text-light fa-user"></i> Log In
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
  
    </nav>    
